<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:if="${practitionerData != null}" th:text="|${practitionerData.fhirId} - ': Instructions given'|">Instructions given</title>
  <title th:if="${practitionerData == null}">Instructions given</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container container-fluid">
  <div th:fragment="show-practitioner" id="patient-data" data-draggable="true" tabindex="-1" role="dialog">
    <div class="row">
      <div th:if="${fhirPractitioner == null}">
        <h1>Practitioner Name</h1>
      </div>


      <div th:if="${fhirPractitioner != null}" >
        <h1 th:text="${practitionerData.fhirId}">Practitioner Name</h1>
      </div>

      <label class="control-label col-sm-2"><h3>Instructions</h3></label>

      <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
          <th>Patient</th>
          <th>Instruction title</th>
          <th>When</th>
          <th>Feedback in</th>
          <th>Your Comment</th>
          <th>Patient feedback</th>
          <th>Patient comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${practitionerData?.givenInstructions == null || practitionerData?.givenInstructions.isEmpty()}">
          <td>No instructions given</td>
        </tr>
        <tr th:each="ig : ${practitionerData?.givenInstructions}">
          <td th:text="${ig.practitioner.id}"></td>
          <td th:text="${ig.instruction?.content}"></td>
          <td th:text="${ig.givenAt.toString()}"></td>
          <td th:text="${ig.comment}">
                            <span th:if="${instructionIDforFeedback != null && instr.id == instructionIDforFeedback}"
                                  class="badge bg-warning text-dark">feedback!</span></td>
        </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>

</body>
</html>