<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Patient created.</h1>
    <p th:text="'ID: ' + ${patient.id}" />
    <p th:text="'Password: ' + ${patient.password}" />
    <p><a href="/practitioner/dashboard/generatePatient">Add another patient</a></p>
    <p><a href="/practitioner/dashboard">Home</a></p>
    <p><a th:href="@{/logout}">Log out</a></p>
</body>
</html>