<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Charité ED App Homepage</title>
</head>
<body>
  <h2>Welcome to the Charité Emergency Department App</h2>
  <p sec:authorize="hasRole('ROLE_ANONYMOUS')">Text visible to anonymous.</p>
  <p sec:authorize="hasRole('PATIENT')">Text visible to user.</p>
  <p sec:authorize="hasRole('ADMIN')">Text visible to admin.</p>
  <p sec:authorize="isAuthenticated()">Text visible only to authenticated users.</p>

  <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
    <p><a th:href="@{|/login|}" th:text="'Log in'"></a></p>
  </div>

  <div sec:authorize="isAuthenticated()">
    <p>Logged as: <span sec:authentication="name"></span></p>
    <p>Has role: <span sec:authentication="authorities"></span></p>
    <p sec:authorize="hasAuthority('PATIENT')"><a th:href="@{|/dashboard|}" th:text="'User Dashboard'"></a></p>
    <p sec:authorize="hasAuthority('ADMIN')"><a th:href="@{|/admin/dashboard|}" th:text="'Admin Dashboard'"></a></p>
    <a th:href="@{/logout}">Log out</a>
  </div>

  <div>
    <a th:href="@{/test/generatesubjects}" class="btn btn-info">Generate a patient and a practitioner</a>
    <a th:href="@{/patient/view/all}" class="btn btn-info">View all patients</a>
    <a th:href="@{/practitioner/view/all}" class="btn btn-info">View all practitioners</a>
    <a th:href="@{/instruction/view/all}" class="btn btn-info">View all instructions</a>
  </div>

</body>
</html>